.page {
  background-color: #B0E0E6;
  /*background-image: url("../../images/back1.jpg");*/
  background-size: cover;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page__content {
  max-width: 89%;
  margin: 0 auto;
  padding: 30px;
}


